::-moz-selection {
    background: #666;
}

::selection {
    background: #666;
}

body {
    background-color: #000;
}

.container {
    color: #ccc;
}

.container a {
    color: #b94;
}

.container a:hover {
    color: #b94;
}

.container blockquote {
    border-color: #ccc;
}

.container hr {
    border-color: #333;
}

.container table th {
    background-color: #333;
    border: 1px solid #666;
}

.container table td {
    border: 1px solid #666;
}

.container .header nav.site-menu {
    border-color: #333;
}

.container .footer {
    border-color: #333;
}

.container .recent-blog-posts .recent-blog-post nav.tags a {
    border: 1px solid #b94;
    color: #b94;
}

.container .blog-post .draft-label {
    color: #b94;
}

.container .blog-post nav.tags a {
    border: 1px solid #b94;
    color: #b94;
}

.container .journal-entry .draft-label {
    color: #b94;
}

.container .journal-entry nav.tags a {
    border: 1px solid #b94;
    color: #b94;
}

