::-moz-selection {
    background: #666;
}

::selection {
    background: #666;
}

body {
	color: #ddd;
	background-color: #000;
}

hr {
    border-color: #333;
}

blockquote {
	border-color: #ddd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #ddd;
}

a {
	color: #ff7979;
}

a:hover {
	color: #ff7979;
	opacity: 0.8;
}

table th {
    background-color: #333;
    padding: 10px 20px;
    border: 1px solid #666;
}

table td {
    padding: 10px 20px;
    border: 1px solid #666;
}

.site-title a {
	color: #ddd;
	text-decoration: none !important;
}

.site-description a,
.site-description a:hover {
	color: #ddd;
	text-decoration: none;
}

.post-tags .tags a {
    border: 1px solid #ddd;
	color: #ddd;
}

.header nav,
.footer {
	border-color: #333;
}

.highlight {
	background-color: #333;
}

