::-moz-selection {
    background: #666;
}

::selection {
    background: #666;
}

body {
    background-color: #000;
}

.container {
    color: #ddd;
}

.container hr {
    border-color: #333;
}

.container blockquote {
    border-color: #ddd;
}

.container a {
    color: #ff7979;
}

.container a:hover {
    color: #ff7979;
}

.container table th {
    background-color: #333;
    border: 1px solid #666;
}

.container table td {
    border: 1px solid #666;
}

.container .header .site-title a {
    color: #ddd;
}

.container .header nav.site-menu {
    border-color: #333;
}

.container .footer {
    border-color: #333;
}

.container .post nav.post-tags .tags a {
    border: 1px solid #ff7979;
    color: #ff7979;
}

