::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

body {
    background: #f4f4f4
}

.container {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    color: #181818;
    line-height: 1.5;
    font-size: 15px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.container a {
    color: #1840a8;
    text-decoration: none;
}

.container a:hover {
    color: #1840a8;
    text-decoration: underline;
    opacity: 0.8;
}

.container a img {
    border: none;
}

.container blockquote {
    margin-left: 1rem;
    font-style: italic;
    font-size: 1.4rem;
    font-family: Georgia, bitstream charter, serif;
    border-left: 3px solid;
    border-color: #1840a8;
    padding-left: 20px;
}

.container blockquote cite {
    font-size: 70%;
    opacity: .8;
}

.container blockquote em {
    font-weight: 600;
}

.container figure {
    margin: 0;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
}

.container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #bbb;
    margin: 1.5rem 0 1rem 0;
    padding: 0;
}

.container img {
    margin: 25px auto 25px auto;
    max-width: 100%;
    display: block;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    font-family: Lalezar, sans-serif;
    line-height: 1;
    font-weight: 400;
}

.container h1 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 2.75rem;
}

.container h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.67rem;
    font-size: 2rem;
}

.container h3 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.container h4 {
    font-size: 1.2rem;
}

.container h5 {
    font-size: 1rem;
}

.container h6 {
    font-size: .9rem;
}

.container code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: .95em;
}

.container p code {
    color: #a80018;
}

.container table {
    margin: 25px auto 25px auto;
}

.container table th {
    background-color: #bbb;
    padding: 5px 10px;
    border: 1px solid #777;
    font-weight: bold;
}

.container table td {
    padding: 5px 10px;
    border: 1px solid #777;
}

.container .header {
    margin-bottom: 40px;
}

.container .header h1 {
    margin: 0;
    font-size: 2rem;
}

.container .header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.container .header table.site-title {
    width: 100%;
}

.container .header table.site-title td {
    padding: 0;
    margin: 0;
    border: none;
    vertical-align: bottom;
}

.container .header nav.social {
    margin: 0;
    border: none;
}

.container .header nav.social .icon {
    float: right;
    margin-left: 7px;
}

.container .header nav.social .icon svg {
    max-width: 15px;
    max-height: 15px;
}

.container .header nav.site-menu {
    margin-top: 15px;
    padding: 0.6rem 0 0.6rem 0;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.container .header nav.site-menu ul {
    margin: 0;
    padding: 0;
}

.container .header nav.site-menu ul li {
    display: inline-block;
    list-style: none;
    margin-right: 12px;
}

.container .title {
    margin: 0 auto 30px auto;
}

.container .title h1 {
    margin: 0;
}

.container .title .meta {
    font-size: 0.725rem;
    color: #777;
}

.container .prev-next {
    margin: 30px 0 0 0;
    border-top: 1px solid #bbb;
}

.container .prev-next ul {
    padding: 0.6rem 0 0 0;
    text-align: left;
    display: table;
    width: 100%;
    justify-content: space-between;
}

.container .prev-next ul li {
    list-style: none;
    display: table-cell;
    margin: 0;
    padding: 0;
}

.container .prev-next ul .prev {
    text-align: left;
}

.container .prev-next ul .next {
    text-align: right;
}

.container .disqus {
    margin: 30px 0 0 0;
    border-top: 1px solid #bbb;
}

.container .disqus_thread {
    margin: 30px 0 0 0;
}

.container ul.pagination {
    margin: 30px 0 0 0;
    padding: 0.6rem 0 0 0;
    text-align: left;
    display: table;
    width: 100%;
    justify-content: space-between;
}

.container ul.pagination li {
    list-style: none;
    display: table-cell;
    margin: 0;
    padding: 0;
}

.container ul.pagination .page-prev {
    text-align: left;
}

.container ul.pagination .page-next {
    text-align: right;
}

.container .footer {
    text-align: right;
    font-size: 0.75rem;
    color: #777;
    border-top: 1px solid #bbb;
    padding: 0;
    margin-top: 40px;
}

.container .footer .copyright {
    margin-top: 30px;
}

.container .recent-blog-posts .recent-blog-post {
    margin-bottom: 30px;
}

.container .recent-blog-posts .recent-blog-post .title {
    margin: 0 auto 30px auto;
}

.container .recent-blog-posts .recent-blog-post .meta {
    font-size: 0.725rem;
    color: #777;
    margin-bottom: 15px;
}

.container .recent-blog-posts .recent-blog-post nav.tags a {
    display: inline-block;
    border: 1px solid #1840a8;
    border-radius: 4px;
    padding: 0px 6px;
    color: #1840a8;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
}

.container .recent-blog-posts .recent-blog-post nav.tags ul {
    padding-left: 15px;
    list-style: disc inside;
    margin: 0;
    padding: 0;
}

.container .recent-blog-posts .recent-blog-post nav.tags ul li {
    margin-top: 10px;
    display: inline-block;
    list-style: none;
}

.container .blog-posts .blog-post {
    display: table;
    width: 100%;
}

.container .blog-posts .blog-post .meta {
    display: table-cell;
    text-align: right;
    font-size: 0.725rem;
    color: #777;
    margin-left: 5px;
}

.container .blog-post .draft-label {
    color: #1840a8;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.container .blog-post nav.tags a {
    display: inline-block;
    border: 1px solid #1840a8;
    border-radius: 4px;
    padding: 0px 6px;
    color: #1840a8;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
}

.container .blog-post nav.tags ul {
    padding-left: 15px;
    list-style: disc inside;
    margin: 0;
    padding: 0;
}

.container .blog-post nav.tags ul li {
    margin-top: 10px;
    display: inline-block;
    list-style: none;
}

.container .journal-entries .journal-entry {
    display: table;
    width: 100%;
}

.container .journal-entries .journal-entry .meta {
    display: table-cell;
    text-align: right;
    font-size: 0.725rem;
    color: #777;
    margin-left: 5px;
}

.container .journal-entry .draft-label {
    color: #1840a8;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.container .journal-entry nav.tags a {
    display: inline-block;
    border: 1px solid #1840a8;
    border-radius: 4px;
    padding: 0px 6px;
    color: #1840a8;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
}

.container .journal-entry nav.tags ul {
    padding-left: 15px;
    list-style: disc inside;
    margin: 0;
    padding: 0;
}

.container .journal-entry nav.tags ul li {
    margin-top: 10px;
    display: inline-block;
    list-style: none;
}

.container .tagged-posts .tagged-post {
    display: table;
    width: 100%;
}

.container .tagged-posts .tagged-post .meta {
    display: table-cell;
    text-align: right;
    font-size: 0.725rem;
    color: #777;
    margin-left: 5px;
}

.container .tag-cloud {
    margin-top: 20px;
}

.container .tag-cloud a {
    margin-right: 15px;
    white-space: nowrap;
}

/* Background */ .chroma { color: #586e75; background-color: #e8e8e8 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: #7f7f7f }
/* Keyword */ .chroma .k { color: #859900 }
/* KeywordConstant */ .chroma .kc { color: #859900; font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: #859900 }
/* KeywordNamespace */ .chroma .kn { color: #dc322f; font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: #859900 }
/* KeywordReserved */ .chroma .kr { color: #859900 }
/* KeywordType */ .chroma .kt { color: #859900; font-weight: bold }
/* Name */ .chroma .n { color: #268bd2 }
/* NameAttribute */ .chroma .na { color: #268bd2 }
/* NameBuiltin */ .chroma .nb { color: #cb4b16 }
/* NameBuiltinPseudo */ .chroma .bp { color: #268bd2 }
/* NameClass */ .chroma .nc { color: #cb4b16 }
/* NameConstant */ .chroma .no { color: #268bd2 }
/* NameDecorator */ .chroma .nd { color: #268bd2 }
/* NameEntity */ .chroma .ni { color: #268bd2 }
/* NameException */ .chroma .ne { color: #268bd2 }
/* NameFunction */ .chroma .nf { color: #268bd2 }
/* NameFunctionMagic */ .chroma .fm { color: #268bd2 }
/* NameLabel */ .chroma .nl { color: #268bd2 }
/* NameNamespace */ .chroma .nn { color: #268bd2 }
/* NameOther */ .chroma .nx { color: #268bd2 }
/* NameProperty */ .chroma .py { color: #268bd2 }
/* NameTag */ .chroma .nt { color: #268bd2; font-weight: bold }
/* NameVariable */ .chroma .nv { color: #268bd2 }
/* NameVariableClass */ .chroma .vc { color: #268bd2 }
/* NameVariableGlobal */ .chroma .vg { color: #268bd2 }
/* NameVariableInstance */ .chroma .vi { color: #268bd2 }
/* NameVariableMagic */ .chroma .vm { color: #268bd2 }
/* Literal */ .chroma .l { color: #2aa198 }
/* LiteralDate */ .chroma .ld { color: #2aa198 }
/* LiteralString */ .chroma .s { color: #2aa198 }
/* LiteralStringAffix */ .chroma .sa { color: #2aa198 }
/* LiteralStringBacktick */ .chroma .sb { color: #2aa198 }
/* LiteralStringChar */ .chroma .sc { color: #2aa198 }
/* LiteralStringDelimiter */ .chroma .dl { color: #2aa198 }
/* LiteralStringDoc */ .chroma .sd { color: #2aa198 }
/* LiteralStringDouble */ .chroma .s2 { color: #2aa198 }
/* LiteralStringEscape */ .chroma .se { color: #2aa198 }
/* LiteralStringHeredoc */ .chroma .sh { color: #2aa198 }
/* LiteralStringInterpol */ .chroma .si { color: #2aa198 }
/* LiteralStringOther */ .chroma .sx { color: #2aa198 }
/* LiteralStringRegex */ .chroma .sr { color: #2aa198 }
/* LiteralStringSingle */ .chroma .s1 { color: #2aa198 }
/* LiteralStringSymbol */ .chroma .ss { color: #2aa198 }
/* LiteralNumber */ .chroma .m { color: #2aa198; font-weight: bold }
/* LiteralNumberBin */ .chroma .mb { color: #2aa198; font-weight: bold }
/* LiteralNumberFloat */ .chroma .mf { color: #2aa198; font-weight: bold }
/* LiteralNumberHex */ .chroma .mh { color: #2aa198; font-weight: bold }
/* LiteralNumberInteger */ .chroma .mi { color: #2aa198; font-weight: bold }
/* LiteralNumberIntegerLong */ .chroma .il { color: #2aa198; font-weight: bold }
/* LiteralNumberOct */ .chroma .mo { color: #2aa198; font-weight: bold }
/* OperatorWord */ .chroma .ow { color: #859900 }
/* Comment */ .chroma .c { color: #93a1a1; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #93a1a1; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #93a1a1; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #93a1a1; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #93a1a1; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #93a1a1; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: #93a1a1; font-style: italic }
/* Generic */ .chroma .g { color: #d33682 }
/* GenericDeleted */ .chroma .gd { color: #d33682 }
/* GenericEmph */ .chroma .ge { color: #d33682 }
/* GenericError */ .chroma .gr { color: #d33682 }
/* GenericHeading */ .chroma .gh { color: #d33682 }
/* GenericInserted */ .chroma .gi { color: #d33682 }
/* GenericOutput */ .chroma .go { color: #d33682 }
/* GenericPrompt */ .chroma .gp { color: #d33682 }
/* GenericStrong */ .chroma .gs { color: #d33682 }
/* GenericSubheading */ .chroma .gu { color: #d33682 }
/* GenericTraceback */ .chroma .gt { color: #d33682 }
/* GenericUnderline */ .chroma .gl { color: #d33682 }
