::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.container {
    font-family: "ubuntu", sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.container a {
    color: #a00;
    text-decoration: none;
}

.container a:hover {
    color: #a00;
    text-decoration: underline;
	opacity: 0.8;
}

.container a img {
    border: none;
}

.container html,
.container button,
.container input,
.container select {
    color: #333;
}

.container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

.container img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

.container figure {
    margin: 0;
    text-align: center;
}

.container fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.container textarea {
    color: #333;
    resize: vertical;
}

.container blockquote {
    margin-left: 1rem;
    font-style: italic;
    font-size: 1.4rem;
    font-family: Georgia,bitstream charter,serif;
    border-left: 3px solid;
    border-color: #a00;
    padding-left: 20px;
}

.container blockquote cite {
    font-size: 70%;
    opacity: .8;
}

.container blockquote em {
    font-weight: 600;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    font-family: raleway,sans-serif;
    line-height: 1.2;
    color: #333;
    font-weight: 200;
}

.container h1 {
    font-size: 2.75rem;
}

.container h2 {
    font-size: 2rem;
}

.container h3 {
    font-size: 1.6rem;
}

.container h4 {
    font-size: 1.2rem;
}

.container h5 {
    font-size: 1rem;
}

.container h6 {
    font-size: .9rem;
}

.container table th {
    background-color: #f4f4f4;
    padding: 10px 20px;
    border: 1px solid #dddddd;
}

.container table td {
    padding: 10px 20px;
    border: 1px solid #dddddd;
}

.container .header {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.container .header h1,
.container .header h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 1.3em;
}

.container .header h2 {
    font-size: 1.125rem;
}

.container .header .site-title a {
	color: #333;
	text-decoration: none !important;
}

.container .header .site-description {
    display: flex;
    justify-content: space-between;
}

.container .header .site-description nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
    margin-left: 15px;
}

.container .header .site-description nav ul svg {
    max-height: 15px;
}

.container .header nav {
    margin-top: 20px;
    border-top: 1px solid #f4f4f4;
}

.container .header nav ul,
.container .header nav li {
    margin: 0;
}

.container .header nav ul.flat {
    padding: 0;
}

.container .header nav ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}

.container .footer {
    text-align: right;
    font-size: 0.75em;
    color: #999;
    border-top: 1px solid #f4f4f4;
    padding: 0px 0;
    margin-top: 40px;
}

.container .footer .copyright {
    margin-top: 10px;
}

.container .recent-posts .posts .post {
    margin-bottom: 30px;
}

.container .recent-posts .posts .post .meta {
    font-size: 0.725rem;
    color: #999;
    margin-bottom: 4px;
}

.container .recent-posts .posts .pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.container .recent-posts .posts .pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.container .recent-posts .posts .pagination .page-prev {
    text-align: left;
}

.container .recent-posts .posts .pagination .page-next {
    text-align: right;
}

.container .post ul li {
    margin-bottom: 10px;
}

.container .post ul li p {
    display: inline;
}

.container .post .post-header {
    margin-bottom: 30px;
}

.container .post .post-header .title {
    margin: 0;
}

.container .post .post-header .meta {
    font-size: 0.725rem;
    color: #999;
    margin-bottom: 4px;
    padding-left: 5px;
    margin-top: 10px;
}

.container .post .draft-label {
    color: #a00;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.container .list .posts .post {
    display: table;
    width: 100%;
}

.container .list .posts .post .meta {
    display: table-cell;
    text-align: right;
    font-size: 0.725rem;
    color: #999;
    margin-left: 5px;
}

.container .post-tags a {
	margin-right: 5px;
}

.container .post-tags .tags li {
    margin-bottom: 0;
    margin-top: 20px;
}

.container .post-tags .tags a {
    display: inline-block;
    border: 1px solid #a00;
    border-radius: 4px;
    padding: 0px 6px;
    color: #a00;
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
}

.container .post-tags .tags ul {
    padding-left: 15px;
    list-style: disc inside;
}

.container .post-tags .tags ul.flat {
    margin: 0;
    padding: 0;
}

.container .post-tags .tags ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
}

.container .tag-cloud {
    margin-top: 20px;
}

.container .tag-cloud a {
    margin-right: 15px;
}

